article {
  margin: 0 auto;
  max-width: 50em;
}

body {
  font-family: sans-serif;
  margin: 2em;
}

h1 {
  margin: 0 auto 1em auto;
  width: 800px;
}

img {
  max-width: 100%;
}

#smiley_face {
  font-size: 1.5em;
}

.contact {
  list-style: none;
  float: right;
}
.contact li {
  display: inline;
  font-size: 1.5em;
  color: blue;
}

svg#logo {
  fill: #666;
  height: 6vw;
  margin: 0 auto 0.5em auto;
  width: 6vw;
}

header:hover svg#logo {
  fill: #3d85c6;
  -webkit-filter: drop-shadow(3px 3px 3px #ddd);
  filter: drop-shadow(3px 3px 3px #ddd);
}

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
